* {
  border: solid red 1px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #00a0c6;

  cursor: pointer;
}
.image {
  height: 75px;
  width: 75px;
}
.header,
.footer {
  background-color: #1f2937;
}
.header,
.section-1,
.section-2,
.section-3,
.footer {
  padding: 0px 3vw;
  display: flex;
  width: auto;
  flex-direction: column;
}
.section-2 {
  background-color: #e5e7eb;
}
.section-3 {
  margin: 5% 2%;
  border-radius: 10px;
  color: #f9faf8;
}
.footer {
  height: 72px;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  margin-bottom: 0;
}
.header.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.header.subtext,
.header.menu {
  font-size: 18px;
  color: #e5e7eb;
}

.header.logo {
  font-size: 24px;
  color: #f9faf8;
}

.button,
.section-3 {
  background-color: #3882f6;
}
.section-1.title {
  font-size: 36px;
  font-weight: bolder;
  counter-reset: #1f2937;
}
.section-2.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.header.bandeau {
  flex-direction: row;
  justify-content: space-between;
}
.header.menu {
  flex-direction: row;
  gap: 20px;
}
a:active {
  transform: scale(0.98);
}
.header.presentation {
  flex-direction: row;
}
.header.text {
  width: 50%;
}
.header.subtext {
}
.button {
  border: solid white 3px;
  align-self: flex-end;
  justify-self: flex-end;
  border-radius: 6px;
  color: #f9faf8;
  user-select: none;
  padding: 10px 20px;
}
.button:hover {
  background-color: #0a61ee;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

.header.button {
  border: none;
}
